@import url("colors.var.css");
html {
  /*background-color: #212121;*/
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myNav-title {
  font-weight: bold;
  font-size: 64px;
  margin: auto;
  padding: 25px;
  background-color: #ef5350;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.shrink {
  padding: 0 !important;
  font-size: 48px !important;
  box-shadow: none !important;
}

#mySearch {
  display: inline-block;

  -webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
}

input[type="search"] {
  height: 64px !important;
}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 1rem;
  width: 17rem;
}

.mySearchOpen {
  
}
