@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
html {
  /*background-color: #212121;*/
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mynav {
  text-align: center;
}

#mynav-title {
  font-family: 'Archivo Black', sans-serif;
  display: inline-block;
  font-size: 64px;
  margin: auto;
  /*margin-top: 25px;*/
  padding: 25px;
  background-color: #ef5350;
}
